# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\erkan\projects\leet-code-algorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
